DATABASE_URL="postgresql://postgres.<project-ref>:***@aws-<region>.pooler.supabase.com:5432/postgres"
DATABASE_DIRECT_URL="postgresql://postgres:***@db.<project-ref>.supabase.co:5432/postgres?sslmode=require"
ADMIN_API_TOKEN=
